{% extends "UnrtechEasybillBundle:Default:base.html.twig" %}

{% block title %}404{% endblock title %}
{% block content %}
        <span class="col-xs4 text-center"><span class="label-warning">404</span></span>
{% endblock %}