/web/bundles/
/web/js/
/web/css/
/web/uploads/
/web/media/
/web/image/
/web/fonts/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
app/config/deploy.rb
.rsync*
/build/
/vendor/
bin/doctrine
bin/doctrine.php
bin/rebuild.sh
/components/
/composer.phar
LICENSE
README.md
UPGRADE-2.2.md
UPGRADE.md
