/web/bundles/
/web/js/
/web/css/
/web/uploads/
/web/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/components/
/composer.phar
LICENSE
README.md
UPGRADE-2.2.md
UPGRADE.md
