{% if form is defined %}
    <div class="span8">
        <form action="{% if action == 'edit' %}{{ path('path_form_bill_line_edit', {'id':id, 'parent' : parent}) }}{% else %}{{ path('path_form_bill_line_create', {'parent':parent}) }}{% endif %}" method="post" {{ form_enctype(form) }} class="form-horizontal span8">
            {{ form_rest(form) }}
        </form>
    </div>
{% endif %}