/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2014, 17:11:33
    Author     : jeremy
*/
.right {text-align: right;}
.block-center {text-align: center;vertical-align: middle;margin:auto;margin-top:250px;}
.full-height {height:100%;width:100%;}
