{% extends "UnrtechEasybillBundle:Default:base.html.twig" %}

{% block title %}{% if title is defined %}{{ title|trans({},'UnrtechEasybillBundle') }}{% else %}{{ parent() }}{% endif %}{% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <h3>Home</h3>
    </div>
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}{{ parent() }}{% endblock %}

